<%- include('partials/header') %>
<title>Sorting Practice</title>
    <style>

    </style>
</head>
<body>
    <center>
        <h1>Task- 9 Bubble Sort</h1>
        <h1>Ganpat Parmar</h1>
        <h2>ID </h2>
        <label for="inp">Enter unsorted elements with space</label>
        <input type="text" id="inp">
        
        <button onclick="sorting()">SORT</button>
        <hr hidden="1">
        <h3 id = "sort"></h3>
    </center>  
    <script src="/js/bubble_sort.js"></script>
    <%- include('partials/footer') %>
