<%- include('partials/header') %>
<title>Home</title>    
</head>
<body>

    <div class="vstack gap-3">
        <div class="p-2">First item</div>
        <div class="p-2">Second item</div>
        <div class="p-2">Third item</div>
      </div>
      <%- include('partials/footer') %>