<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TikToe</title>
    <style>
      td {
        width: 100px;
        height: 50px;
        background-color: aqua;
        border: 1;
        border-radius: 5%;
      }
    </style>
  </head>
  <body style="background-color: antiquewhite">
    <center>
      <h1>Task- 8 TikTakToe</h1>
      <h1>Ganpat Parmar</h1>
      <h2>ID</h2>
      <table
        style="
          margin-left: 45%;
          margin-right: 50%;
          border-radius: 2%;
          border-color: black;
          margin-bottom: 3%;
        "
        border="3"
        width="200px"
        height="200"
      >
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <!-- <button onclick="play()">PLAY</button> -->
    </center>
    <script src="/js/tik_tak_toe.js"></script>
    <%- include('partials/footer') %>
